<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>153681167055-lh49bjkgq9jdc1i3isb9qka7o3vuuruq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153681167055-lh49bjkgq9jdc1i3isb9qka7o3vuuruq</string>
	<key>API_KEY</key>
	<string>AIzaSyC5GuefsQvLxgeCg6tz_bxy1m404FJ3yKc</string>
	<key>GCM_SENDER_ID</key>
	<string>153681167055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.relatedcode.chat</string>
	<key>PROJECT_ID</key>
	<string>related21-8f594</string>
	<key>STORAGE_BUCKET</key>
	<string>related21-8f594.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:153681167055:ios:8a9354d6483948fd</string>
	<key>DATABASE_URL</key>
	<string>https://related21-8f594.firebaseio.com</string>
</dict>
</plist>